form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 80%;
    height: 50%;
    background-color: aqua;
    textarea{
        width: 90%;
        height: 90%;
        resize: none
    }
    button{

    }
}