.app{
    height: 100vh;
    margin: 0 20px;
    header{
        text-align: center;
    }
    .wrapper{
        width: 100%;
        display: flex;
        nav{
            height: 100vh;
            width: 30%;
            input{
                display: block;
            }
        }
        .content{
            width: 70%;
        }

    }
    li{
        list-style: none;
        cursor: pointer;
        .selected{
            background-color: red;
        }
    }
    ul{
        margin: 0;  
    }
    
}
